{% extends "layout.html" %}
{% block content %}
<div class="mt-adjust-frontpage container-sp-frontpage container">
        <h3>Sign Up</h3>
        <p>アカウントをお持ちの方は<a href="/login">こちら</a>からログインしてください</p>
        <div>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" autofocus="">
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" autofocus="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="button" class="btn btn-outline-primary">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}