{% extends "layout.html" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


<script>


//プラグインを構成するクラス
class AceCode {

  //メニューバーにアイコンを表示
  static get toolbox() { 
    return{
      title: 'Image',
        icon: '<i class="fas fa-images"></i>'
    }
  }

  //プラグインのUIを作成
  render(){ 
    const div = document.createElement('div');
    const input = document.createElement('input');

    input.addEventListener('paste', (event) => {

  

  });
  }

  //保存時のデータを抽出
  save(){ 
 return{
      url: data.querySelector('code').src
    }
  }

}





</script>


<style>
    .top_header.hidden {
      transform: translateY(0%)!important;
  }
  .fixed-top{
      position: relative !important;
  }

  </style>

<div class="form-group form-grup-kill-mb">
    <input type="text" id="title" class="form-control form-control-lg form-control-boder" placeholder="記事のタイトルを入力してください">
</div>
<div class="my-2 row row-pd-kill">
    
    <div class="col-9 col-kill mr-4 ml-2" style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;border-radius: .3rem;background-color: #d2d2d2c9;">
        <div class="form-group form-grup-kill-mb">
    

            <div id="editor"></div>


        </div>
    </div>

 
</div>
<textarea type="text" id="article-show" class="form-control form-control-boder" placeholder="記事の詳細が表示されます" style="height:30vh;"></textarea>





<p>aaaa</p>
<p>aaaa</p>

<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>

<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>

<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>
<p>aaaa</p>


<pre class="prettyprint">
print("aaa")
if aaa + aaaa == 2:
  print("a")
</pre>



<!-- Submit button display under absolute-->
<nav class="navbar navbar-light mb-2 fixed-bottom top_footer" style="flex-direction: row-reverse;">
    <!-- naver logo + title -->
    <div>
      <button type="button" class="btn btn-outline-success text-right mr-3">Submit</button>
    </div>
  </nav>


  <script>
    const editor = new EditorJS({
        holder: 'editor',
      autofocus: true,
      tools: {
        header: Header,        
        list: List,        
        checklist: Checklist,
        quote: Quote,
        embed: Embed,
        code: CodeTool,
        Marker: {
            class: Marker,
            shortcut: 'CMD+SHIFT+M',
          },
        linkTool: {
            class: LinkTool
        },
        image: {
            class: ImageTool,
            config: {
              endpoints: {
                byFile: 'http://127.0.0.1:5000/uploadFile', // Your backend file uploader endpoint
                byUrl: 'http://127.0.0.1:5000/fetchUrl', // Your endpoint that provides uploading by Url
              }
            }
          }
    }
    });

</script>
{% endblock %}