{% extends "layout.html" %}
{% block content %}

  <div class="mt-adjust-frontpage container-sp-frontpage container">
    <div class="row d-inline mx-auto mb-5">

      <h1 class="logo-font d-inline"><span class="logo-string-t">T</span><span class="logo-string-o">o</span><span
          class="logo-string-s">s</span><span class="logo-string-h">h</span><span class="logo-string-¥">!</span></h1>
      <h1 class="d-inline" style="line-height: 1.3;">は<span
          class="logo-string-t">分かりやすい</span>プログラミングのコードを共有するサービスです。<span class="logo-string-o">バージョン別</span>で<span
          class="logo-string-s">表示</span><span class="logo-string-h">実行</span>でき、<span
          class="logo-string-¥">コードの実行エラー</span>を防げます。</h1>

    </div>
  </div>

  <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>

  <button type="button" class="btn btn-primary rounded-circle p-0" style="width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
  box-shadow: 0 0 9px 3px #0199ff99;" onclick="location.href='/post'">＋</button>


  <div class="container mt-5">
    <div class="row">
      <div class="col-6" id="recentry-post" onclick="recentry_post()">
        <small>全体</small>
        <h2 class="section-title section-title-t">直近</h2>
      </div>
      <div class="col-2 section-not-choice" id="whole-post" onclick="whole_post()">
        <small>トレンド</small>
        <h2 class="section-title section-title-o">全体</h2>
      </div>
      <div class="col-2 section-not-choice" id="language-post" onclick="language_post()">
        <small>トレンド</small>
        <h2 class="section-title section-title-s">言語別</h2>
      </div>
      <div class="col-2 section-not-choice" id="tag-post" onclick="tag_post()">
        <small>トレンド</small>
        <h2 class="section-title section-title-h">タグ</h2>
      </div>
    </div>


<!-- Here -->
    <div id="recentry-post-content">
      <div class="article-title-name mb-20px">
        <p class="small logo-string-¥ article-programlangage">Python</p>
        <h3>flaskの基本的な使い方</h3>
        <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
            class="article-number">ASA</span></p>
      </div>


      <div class="article-title-name mb-20px">
        <p class="small logo-string-¥ article-programlangage">Python</p>
        <h3>flaskの基本的な使い方</h3>
        <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
            class="article-number">ASA</span></p>
      </div>


      <div class="article-title-name mb-20px">
        <p class="small logo-string-¥ article-programlangage">Python</p>
        <h3>flaskの基本的な使い方</h3>
        <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
            class="article-number">ASA</span></p>
      </div>
    </div>


<!-- Here -->
<div id="whole-post-content" class="hide">
</div>





<!-- Here -->
<div id="language-post-content" class="hide">
  <div class="article-title-name mb-20px">
    <p class="small logo-string-¥ article-programlangage">Python</p>
    <h3>flaskの基本的な使い方</h3>
    <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
        class="article-number">ASA</span></p>
  </div>


  <div class="article-title-name mb-20px">
    <p class="small logo-string-¥ article-programlangage">Python</p>
    <h3>flaskの基本的な使い方</h3>
    <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
        class="article-number">ASA</span></p>
  </div>


  <div class="article-title-name mb-20px">
    <p class="small logo-string-¥ article-programlangage">Python</p>
    <h3>flaskの基本的な使い方</h3>
    <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
        class="article-number">ASA</span></p>
  </div>
</div>






<!-- Here -->
<div id="tag-post-content" class="hide">
  <div class="article-title-name mb-20px">
    <p class="small logo-string-¥ article-programlangage">Python</p>
    <h3>flaskの基本的な使い方</h3>
    <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
        class="article-number">ASA</span></p>
  </div>


  <div class="article-title-name mb-20px">
    <p class="small logo-string-¥ article-programlangage">Python</p>
    <h3>flaskの基本的な使い方</h3>
    <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
        class="article-number">ASA</span></p>
  </div>


  <div class="article-title-name mb-20px">
    <p class="small logo-string-¥ article-programlangage">Python</p>
    <h3>flaskの基本的な使い方</h3>
    <p class="text-right logo-string-¥ small"><span class="article-number">120</span> days ago By <span
        class="article-number">ASA</span></p>
  </div>
</div>
</div>
















  </div>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>

  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>

  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>

  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>
  <p>aaaa</p>











  {% endblock %}
