<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Tool Sharing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/topcanvas.js') }}"></script>
  <link rel="stylesheet" href="https://use.typekit.net/yik4ymw.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
  <nav class="navbar navbar-light mb-2 fixed-top top_header">
    <!-- naver logo + title -->
    <div class="top-nav-col">
      <!-- <img style="width:5%;" src="img/Logo.png"> -->
      <a href="/" class="navbar-brand" style="display:inline;"><img style="width:20%;" src="{{ url_for('static', filename='img/tosh-logo.png') }}"></a>
    
    <button class="navbar-toggler" type="button"
    data-toggle="collapse"
    data-target="#navmenu1"
    aria-controls="navmenu1"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="float: right;
    margin-right: 2rem;
    margin-top: .8rem;">
  <i class="fas fa-search" style="font-size: 1.2em;"></i>
</button>
<a href="/login" style="float: right;
margin-right: 2rem;
margin-top: .8rem;"><i class="fas fa-sign-in-alt fa-2x"></i></a>
<div class="collapse navbar-collapse mt-3" id="navmenu1">
  <div class="navbar-nav" style="flex-direction: row-reverse;float: revert;">

    <button type="button" class="mr-4 mb-1 ml-3 d-inline btn btn-outline-primary">Search</button>
    <input type="search" id="search" class="form-control d-inline w-75">

  </div>
  </div>
</div>
    <!-- ログインしてるか取得すること　
    <a href="/login">ログイン</a>
    <a href="/login">ログイン</a> -->
  </nav>

  {# flaskのメッセージを表示 #}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div>
              {{ messages[0] }}
          </div>
      {% endif %}
      {% endwith %}
{% block content %}

{% endblock %}

</body>
</html>


